<%= turbo_frame_tag todo do %>
<div class="todo">
  <div class="todo__header">
    <h2 class="todo__title">
        <%= if todo.done then 'X' else ' ' end %>
        <%= todo.name %>
    </h2>

    <div class="todo__actions">
      <%= button_to "Delete",
                    [task, todo],
                    method: :delete,
                    form: { data: {turbo_confirm: 'Sure?' } },
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  [:edit, task, todo],
                  class: "btn btn--light" %>
    </div>
  </div>
  <div class="todo__body">
    <div class="detail detail--header">
      <div class="detail__name">Name</div>
      <div class="detail__description">Description</div>
      <div class="detail__time">Time</div>
      <div class="detail__actions"></div>
    </div>

    <%= render todo.details, task: task, todo: todo %>

    <div class="todo__footer">
     <%= link_to "Add detail",
                    [:new, task, todo, :detail],
                    data: { turbo_frame: "_top"},
                    class: "btn btn--primary" %>
      </div>
  </div>
</div>
<% end %>