<div class="detail">
    <div class="detail__name">
        <%= detail.name %>
    </div>
    <div class="detail__description">
        <%= simple_format detail.description %>
    </div>
    <div class="detail_time">
        <%= detail.time %>
    </div>
     <div class="detail__actions">
        <%= button_to "Delete",
                    [task, todo, detail],
                    method: :delete,
                    data: { turbo_frame: "_top"},
                    class: "btn btn--light" %>
        <%= link_to "Edit",
                    [:edit, task, todo, detail],
                    data: { turbo_frame: "_top"},
                    class: "btn btn--light" %>
    </div>
</div>