<div class="detail">
    <div class="detail__name">
        <%= detail.name %>
        <div class="detail__description">
            <%= simple_format detail.description %>
        </div>
        <%= detail.time %>
    </div>

     <div class="line-item__actions">
        <%= button_to "Delete",
                    [task, todo, detail],
                    method: :delete,
                    data: { turbo_frame: "_top"},
                    class: "btn btn--light" %>
        <%= link_to "Edit",
                    [:edit, task, todo, detail],
                    data: { turbo_frame: "_top"},
                    class: "btn btn--light" %>
    </div>

</div>