<header class="navbar">
    <%= link_to root_path, class: "navbar__name" do %>
        <h2>TeamTask</h2>
    <% end %>
    <% if user_signed_in? %>
        <div class="navbar__brand">
            <h2>@<%= current_team.name %></h2>
        </div>
        <div class="navbar__user-info">
            <div><%= current_user.name %></div>
            <div></div><%= current_user.email %></div>
        </div>
        <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn--dark' %>
    <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn--dark navbar__right' %>
    <% end %>
</header>